/* ===== 全站背景 ===== */
body {
  background: linear-gradient(120deg,#020617,#0f172a);
  color: #e2e8f0;
}

/* ===== 左侧栏 ===== */
.sidebar {
  width: 270px;
  background: linear-gradient(180deg,#020617,#020617,#0f172a);
  border-right: 1px solid #1e293b;
}

/* ===== LOGO区域 ===== */
.sidebar::before {
  content: "";
  display: block;
  height: 130px;
  background: url('../img/logo.png')
  background-size: 110px;
  border-bottom: 1px solid #1e293b;
}

/* ===== 站点名称隐藏（只显示LOGO）===== */
.app-name {
  display: none !important;
}

/* ===== 菜单 ===== */
.sidebar ul li a {
  color: #cbd5f5;
  transition: 0.3s;
  font-size: 14px;
}

/* 鼠标滑动动画 */
.sidebar ul li a:hover {
  color: #38bdf8;
  padding-left: 10px;
}

/* 当前选中菜单 */
.sidebar ul li.active > a {
  color: #22d3ee !important;
  font-weight: bold;
  border-left: 3px solid #22d3ee;
  padding-left: 7px;
}

/* 子菜单缩进 */
.sidebar ul ul {
  padding-left: 18px;
}

/* ===== 内容卡片 ===== */
.markdown-section {
  max-width: 920px;
  margin: auto;
  padding: 45px;
  background: #020617;
  border-radius: 12px;
  box-shadow: 0 0 35px rgba(0,0,0,0.6);
}

/* ===== 标题顶部横栏 ===== */
.markdown-section h1 {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 18px;
  border-bottom: 3px solid #38bdf8;
  z-index: 999;
}

/* ===== 图片 ===== */
.markdown-section img {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* ===== 滚动条 ===== */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 20px;
}
