* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f6f9;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1); /* 给侧边栏添加阴影 */
  transition: all 0.3s ease;
}

.sidebar:hover {
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.15); /* 鼠标悬停时加深阴影 */
}

.logo-container {
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%; /* 圆形logo */
}

.site-name {
  font-size: 22px;
  color: #ecf0f1;
  margin-top: 10px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  transition: all 0.3s ease; /* 平滑过渡效果 */
}

.sidebar ul li a:hover {
  background-color: #34495e;
  padding-left: 20px; /* 鼠标悬停时增加左侧的间距 */
}

.menu-icon {
  margin-right: 15px;
}

.submenu > a {
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.submenu-items {
  display: none;
  list-style: none;
  padding-left: 20px;
}

.submenu:hover .submenu-items {
  display: block;
}

.submenu.active .arrow {
  transform: rotate(180deg); /* 翻转箭头 */
}

.content {
  margin-left: 260px;
  padding: 40px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.3s ease;
}

.top-bar {
  height: 50px;
  background-color: #3498db;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
  border-radius: 10px;
}

.tutorial-section {
  margin-bottom: 50px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tutorial-section h1 {
  font-
